<div class="jumbotron">
    <h1>Food Ordering Web Service</h1>
    <p class="lead">Food Ordering System is an application which will help restaurant to optimized and control over their restaurants. ... This application helps the restaurants to do all functionalities more accurately and faster way. Food Ordering System reduces manual works and improves efficiency of restaurant.</p>
    <p><a href="https://github.com/sajjadhaghighat/FOS-WS" class="btn btn-primary btn-lg">Project Link &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>Sajjad Haghighat</p>
        <p>Hediyeh Naderi</p>
    </div>
</div>
